language: php

php:
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

env:
  - SYMFONY_VERSION=2.2.*
  - SYMFONY_VERSION=dev-master

before_script:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
  - composer install --dev --prefer-source

script: phpunit --coverage-text

notifications:
  email:
    - willemsen.christophe@gmail.com
    - mb@lunetics.com